.container {
    display: flex;
    flex: 1;
    align-items: center;
}

.logoDesktop,
.logoLaptop,
.logoTablet,
.logoMobile,
.logoContainerMobile {
    display: flex;
}

.logoContainerMobile {
    justify-content: space-between;
}

.smallLogo {
    width: 33px;
    height: 30px;
}

.optionsContainer {
    display: flex;
    align-items: center;
    flex: 1;
}

.actionsContainer {
    display: flex;
    width: 215px;
    justify-content: flex-end;
}