button {
    border-radius: 6px;
    outline: none;
    font-family: 'Inter-Medium', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    padding: 12px 16px;
    height: 48px;
}

.defaultFilled {
    background-color: var(--indigo-500);
    border: 2px solid var(--indigo-500);
    color: var(--white);
    box-shadow: 0px 1px 2px 0px #0000000D;
}

.defaultFilled:hover {
    background-color: var(--indigo-600);
    border: 2px solid var(--indigo-600);
}

.defaultText,
.defaultText:focus {
    color: var(--indigo-600);
}

.defaultText:hover {
    color: var(--indigo-500);
}


.lightFilled {
    box-shadow: 0px 1px 2px 0px #0000000F;
    box-shadow: 0px 1px 3px 0px #0000001A;
}

.lightFilled,
.lightFilled:focus {
    background-color: var(--white);
    border: 2px solid var(--white);
    color: var(--indigo-600);
}

.lightText {
    background: none;
    border: none;
}

.lightText,
.lightText:focus {
    color: var(--white);
}

.lightText:hover {
    color: var(--gray-300);
}

.darkFilled,
.darkFilled:focus {
    background-color: var(--gray-600);
    border: 2px solid var(--gray-600);
    color: var(--white);
}

.darkFilled:hover {
    background-color: var(--gray-700);
    border: 2px solid var(--gray-700);
}

.darkText,
.darkText:focus {
    color: var(--gray-500);
}

.darkText:hover {
    color: var(--gray-900);
}

.focusActive:focus {
    box-shadow: 0px 0px 0px 4px var(--indigo-100);
    border: 2px solid var(--gray-900);
}

.focusInactive:focus {
    box-shadow: none;
    border: 2px solid inherit;
}

.auto {
    width: auto;
}

.extraLarge {
    width: 100%;
}

.large {
    width: 344px;
}

.medium {
    width: 139px;
}

.icon {
    padding: 8px;
    border-radius: 6px;
}

.iconDark {
    box-shadow: none;
    background-color: var(--gray-900);
}

.iconDark:hover {
    background-color: var(--gray-800);
}

.iconDark:focus {
    box-shadow: inset 0px 0px 0px 2px var(--white);
}

.iconDark svg {
    fill: var(--gray-400);
}